<form [formGroup]="newUserFormGroup" (ngSubmit)="FormSubmitEvent()">
    <div>
        <div style="display: flex;">
            <div>
                <label for="n">Name</label>
                <input formControlName="newUserName" type="text" name="n" id="n">
                <span *ngIf="newUserFormGroup.dirty && newUserFormGroup.controls.newUserName.errors" style="color: red; font-weight:bold">Name is not valid</span>
            </div>
            <div>
                <label for="e">Email</label>
                <input formControlName="newUserEmail" type="email" name="e" id="e">
                <span *ngIf="newUserFormGroup.dirty && newUserFormGroup.controls.newUserEmail.errors?.required" style="color: red; font-weight:bold">Email cannot be empty</span>
                <span *ngIf="newUserFormGroup.dirty && newUserFormGroup.controls['newUserEmail'].errors?.email" style="color: red; font-weight:bold">Email is not valid</span>
            </div>
        </div>
        <div style="display: flex;">
            <div>
                <label for="w">Website</label>
                <input formControlName="newUserWebsite" type="text" name="w" id="w">
                <span *ngIf="newUserFormGroup.dirty && newUserFormGroup.controls.newUserWebsite.errors" style="color: red; font-weight:bold">Website is not valid</span>
            </div>
            <div>
                <label for="c">City</label>
                <input formControlName="newUserCity" type="text" name="c" id="c">
                <span *ngIf="newUserFormGroup.dirty && newUserFormGroup.controls.newUserCity.errors" style="color: red; font-weight:bold">City is not valid</span>
            </div>
        </div>
        <div>
            <button>Save</button>
        </div>
    </div>
</form>