<!-- <input type="number" [(ngModel)]="inputNumber" min="0" max="1"> -->
<!-- 
<p *ngIf="(inputNumber % 2) !== 0">The number is Odd</p>
<p *ngIf="(inputNumber % 2) === 0">The number is Even</p>

<ul>
    <li *ngFor="let num of numbers">
        {{num}}
    </li>
</ul>

<div [ngSwitch]="inputNumber">
    <span *ngSwitchCase="0">Zero</span>
    <span *ngSwitchCase="1">One</span>
    <span *ngSwitchCase="2">Two</span>
    <span *ngSwitchCase="3">Three</span>
    <span *ngSwitchCase="4">Four</span>
    <span *ngSwitchCase="5">Five</span>
    <span *ngSwitchDefault>Out of Range</span>
</div> -->

<!-- { 'key': 'value', 'Key2': 'value2' } -->
<!-- <span [ngStyle]="{ 'color': inputNumber === 0 ? 'black':'red', 'backgroundColor': inputNumber === 0 ? 'red': 'yellow' }">This is some Text</span>
<span [ngClass]="inputNumber === 0 ? 'normal':'hightlight'">This is someText</span> -->

<!-- <span>SomeText</span>
<app-child></app-child> -->

<!-- <input type="checkbox" [(ngModel)]="isCheckboxChecked">
<div *ngIf="isCheckboxChecked">
    <span>Checkbox is Checked</span>
</div>
<div *ngIf="!isCheckboxChecked">
    <span>Checkbox is not Checked</span>
</div> -->

<app-child></app-child>