<!-- <ng-content select="#header"></ng-content>
<p>child works!</p>
<ng-content select=".footer"></ng-content>
<ng-content select="[some]"></ng-content>
<ng-container>123</ng-container>
<ng-template>
    <div>This is part of Template</div>
</ng-template> -->

<!-- <span *ngFor="let n of numbers"> {{n}} </span> -->
<!-- 
<table border="1">
    <thead>
        <tr>
            <td><strong>Name</strong></td>
            <td><strong>Department</strong></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of employees">
            <td>{{ emp.name }}</td>
            <td>{{ emp.department }}</td>
        </tr>
    </tbody>
</table> -->

{{number}}